$red: #d44136;
$red--dark: #bb3127;
$black: #1f1912;
$black--light: rgba(0,0,0,0.7);

body {
  margin: 0;  
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: $black;
}

.fluid {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 920px;
  margin: 0 auto;
  padding: 0 15px;
}

.text {
  &__title {
    margin: 0;
    margin-top: 0;
    font-size: 2em;
    text-transform: uppercase;
  }
  &--space {
    margin: 50px 0;
  }
  &--red {
    color: $red;  
  }  
}  

.btn {
  position: relative;
  display: inline-block;
  margin-top: 0.35rem;  
  font-size: 12px;
  text-decoration: none;
  padding: 5px 10px;
  background: #c2b7b633;
  letter-spacing: 1px;
  color: $red;
  transition: all 400ms ease;
  &--big {
    padding: 10px 20px;
    letter-spacing: 2px;
  }
  &:before {
    content: "";
    position: absolute;        
    z-index: -2; 
    left: 0;
    top: 0;
    height: 100%;    
    width: 0;
    background: $red;
    transition: all 200ms ease;
  }
  &:hover {
    color: white;
    &:before {    
      width: 100%;
    } 
  }
}

.header {  
  // outline: 1px dashed blue;
  margin: 0 auto;    
  display: grid;
  grid-template-columns:  1fr 380px;
  .btn {
    margin-right: 1rem;
  }
  &__title {    
    // outline: 1px dashed blueviolet;s
    position: relative;        
    border-right: 12px solid $red;    
    writing-mode: vertical-rl;    
    transform: rotate(180deg);
  }  
  &__content {
    // outline: 1px dashed orange;        
    letter-spacing: 2px;
    font-size: 18px;
    max-width: 400px;     
    margin: 20px 0;      
    margin-right: 0;
    text-align: right;    
  }
}

.card {
  display: flex;  
  margin-bottom: 5rem;  
  div {
    flex: 50%;
  }
  small {
    color: $red--dark;    
    font-style: normal;
    font-family: 'Courier New', Courier, monospace;
  }
  &__content {
    padding-left: 20px;
    text-align: right;
    p {
      line-height: 145%;
      color: $black--light;
    }    
    h3 {
      line-height: 200%;
      position: relative;
      margin: 0;
      margin-bottom: 1.75rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 14px;      
      &:after {
        content: "";
        background: $red;
        position: absolute;
        right: 0;
        bottom: -5px;
        width: 32px;
        height: 6px;
      }
    }
  }
  &:nth-of-type(even) {
    flex-direction: row-reverse;        
    .card__content {
      text-align: left;      
      padding-left: 0;
      padding-right: 20px;
      h3:after {
        left: 0;
      }
    }    
  }
  &:hover {
    .card__img {      
      filter: grayscale(0);
    } 
  }
}

@media(max-width: 500px) {
  .header {
    grid-template-columns: 110px 1fr;
    &__content {
      font-size: 16px;  
    }
  }
  .card {
    display: block;
    &__content {
      text-align: left;
      border-top: 0;
      padding: 10px;
      h3:after {
        left: 0;
      }
    }
  }
}


@media(max-width: 360px) {
  .header {
    display: block;
    &__title {            
      display: block;
      padding-right: 0;    
      h1 {
        position: relative;
        display: inline;
        top: 0;
        left: 0;
        transform: rotate(0);
      }        
    }
    &__content {  
      padding: 0 10px;    
      margin: 0 auto;        
      margin-top: 50px;            
    }
  }
}
